body {
  font-family: sans-serif;
  margin: 0;
  background: #fafafa;
}

header {
  text-align: center;
  padding: 30px;
}

#map-container {
  position: relative;
  width: 80%;
  margin: 20px auto;
  cursor: url("../images/pin-cursor.png"), pointer;
}

#map-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.pin,
.user-pin {
  width: 18px;
  height: 18px;
  background: red;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  cursor: pointer;
}

.user-pin {
  background: #e84a64; 
}

#memory-box,
#pin-form {
  width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}

#memory-box img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

#pin-form input,
#pin-form textarea {
  width: 100%;
  margin-bottom: 10px;
}

#pin-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

#pin-form button {
  margin-top: 5px;
  margin-right: 5px;
}
